[run]
source = .
omit =
    *manage.py
    *wsgi.py
    *asgi.py
    *settings*
    *apps.py
    *tests*
    # Force ignore any directory named migrations anywhere in the tree
    **/migrations/**
    */migrations/*
    *migrations*