[run]
relative_files = true
source = .
omit =
    *manage.py
    *wsgi.py
    *asgi.py
    *settings*
    *apps.py
    *tests*
    */test_*
    # This is a utility script that will go away eventually. Forget about it.
    session/import_users.py
    # Force ignore any directory named migrations anywhere in the tree
    **/migrations/**
    */migrations/*
    *migrations*